# Building Datasets
Goal: Build a dataset that can give me the average price per squarefoot for different types of properties.

## 1. Import Libraries

In [2]:
import pandas as pd

## 2. Load the Dataset

In [3]:
df = pd.read_csv("data/NY-House-Dataset.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4801 entries, 0 to 4800
Data columns (total 17 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   BROKERTITLE                  4801 non-null   object
 1   TYPE                         4801 non-null   object
 2   PRICE                        4801 non-null   int64
 3   BEDS                         4801 non-null   int64
 4   BATH                         4801 non-null   float64
 5   PROPERTYSQFT                 4801 non-null   float64
 6   ADDRESS                      4801 non-null   object
 7   STATE                        4801 non-null   object
 8   MAIN_ADDRESS                 4801 non-null   object
 9   ADMINISTRATIVE_AREA_LEVEL_2  4801 non-null   object
 10  LOCALITY                     4801 non-null   object
 11  SUBLOCALITY                  4801 non-null   object
 12  STREET_NAME                  4801 non-null   object
 13  LONG_NAME                    4801 non-null   object
 14  FORMATTED_ADDRESS            4801 non-null   object
 15  LATITUDE                     4801 non-null   float64
 16  LONGITUDE                    4801 non-null   float64
dtypes: float64(4), int64(2), object(11)
memory usage: 637.8+ KB

## 3. Modifying Columns

### Dropping Columns

In [4]:
df.columns
# Looks for brokertitle in the columns and gets rid of it
# Need to save the dataframe back
df = df.drop('BROKERTITLE', axis=1)
df.columns

Index(['TYPE', 'PRICE', 'BEDS', 'BATH', 'PROPERTYSQFT', 'ADDRESS', 'STATE',
       'MAIN_ADDRESS', 'ADMINISTRATIVE_AREA_LEVEL_2', 'LOCALITY',
       'SUBLOCALITY', 'STREET_NAME', 'LONG_NAME', 'FORMATTED_ADDRESS',
       'LATITUDE', 'LONGITUDE'],
      dtype='object')

In [5]:
df = df[['TYPE', 'PRICE', 'BEDS', 'BATH', 'PROPERTYSQFT', 'ADDRESS', 'STATE',
       'MAIN_ADDRESS', 'LOCALITY',
       'SUBLOCALITY']]
df.columns

Index(['TYPE', 'PRICE', 'BEDS', 'BATH', 'PROPERTYSQFT', 'ADDRESS', 'STATE',
       'MAIN_ADDRESS', 'LOCALITY', 'SUBLOCALITY'],
      dtype='object')

### Adding Columns

In [6]:
# Without modifying the orignial dataframe
df1 = df.assign(PRICE_PER_SQFT = df['PRICE'] / df['PROPERTYSQFT'])
df1.head()

# Inplace
df['PRICE_PER_SQFT'] = df['PRICE'] / df['PROPERTYSQFT']
df.head()

,TYPE,PRICE,BEDS,BATH,PROPERTYSQFT,ADDRESS,STATE,MAIN_ADDRESS,LOCALITY,SUBLOCALITY,PRICE_PER_SQFT
0,Condo for sale,315000,2,2.000000,1400.0,2 E 55th St Unit 803,"New York, NY 10022","2 E 55th St Unit 803New York, NY 10022",New York,Manhattan,225.000000
1,Condo for sale,195000000,7,10.000000,17545.0,Central Park Tower Penthouse-217 W 57th New Yo...,"New York, NY 10019",Central Park Tower Penthouse-217 W 57th New Yo...,New York,New York County,11114.277572
2,House for sale,260000,4,2.000000,2015.0,620 Sinclair Ave,"Staten Island, NY 10312","620 Sinclair AveStaten Island, NY 10312",New York,Richmond County,129.032258
3,Condo for sale,69000,3,1.000000,445.0,2 E 55th St Unit 908W33,"Manhattan, NY 10022","2 E 55th St Unit 908W33Manhattan, NY 10022",New York,New York County,155.056180
4,Townhouse for sale,55000000,7,2.373861,14175.0,5 E 64th St,"New York, NY 10065","5 E 64th StNew York, NY 10065",New York,New York County,3880.070547

## 4. Sorting

In [7]:
df.head()

# By price per sqft
df.sort_values('PRICE_PER_SQFT', ascending=False)

,TYPE,PRICE,BEDS,BATH,PROPERTYSQFT,ADDRESS,STATE,MAIN_ADDRESS,LOCALITY,SUBLOCALITY,PRICE_PER_SQFT
304,House for sale,2147483647,7,6.000000,10000.000000,6659-6675 Amboy Rd,"New York, NY 10309","6659-6675 Amboy RdNew York, NY 10309",New York,Richmond County,214748.364700
1075,Co-op for sale,60000000,8,8.000000,2184.207862,960 5th Ave Unit 12,"Manhattan, NY 10075","960 5th Ave Unit 12Manhattan, NY 10075",New York County,New York,27469.913026
1453,Co-op for sale,48000000,5,2.373861,2184.207862,740 Park Ave # 4 & 5B,"New York, NY 10021","740 Park Ave # 4 & 5BNew York, NY 10021",New York County,New York,21975.930421
3388,Co-op for sale,45000000,5,2.373861,2184.207862,4 E 66th St Fl 7,"New York, NY 10065","4 E 66th St Fl 7New York, NY 10065",New York County,New York,20602.434770
3571,Co-op for sale,44500000,5,6.000000,2184.207862,2 E 67th St Fl 9,"New York, NY 10065","2 E 67th St Fl 9New York, NY 10065",New York County,New York,20373.518828
...,...,...,...,...,...,...,...,...,...,...,...
318,Condo for sale,99000,1,1.000000,2184.207862,1368 E 92nd St Unit 300,"Brooklyn, NY 11236","1368 E 92nd St Unit 300Brooklyn, NY 11236",Kings County,Brooklyn,45.325356
4003,Land for sale,75000,3,2.373861,2184.207862,199th St,"Saint Albans, NY 11412","199th StSaint Albans, NY 11412",United States,New York,34.337391
360,Land for sale,5800,3,2.373861,2184.207862,4515 Avenue N Lot 5,"Brooklyn, NY 11234","4515 Avenue N Lot 5Brooklyn, NY 11234",Kings County,Brooklyn,2.655425
310,For sale,3225,3,1.000000,2184.207862,635 W 170th St Apt 2C,"New York, NY 10032","635 W 170th St Apt 2CNew York, NY 10032",New York County,New York,1.476508
317,For sale,2494,2,1.000000,2184.207862,635 W 170th St Apt 4F,"New York, NY 10032","635 W 170th St Apt 4FNew York, NY 10032",New York County,New York,1.141833

## 5. Removing Rows

In [8]:
df['TYPE'].value_counts()

# Returns a list of unique values
df['TYPE'].unique()

keep = ['Condo for sale', 'House for sale', 'Townhouse for sale',
       'Co-op for sale', 'Multi-family home for sale', 'Mobile house for sale']

df = df.loc[df['TYPE'].isin(keep)]

df.shape

(4380, 11)

## 6. Map
The same as in map, filter, reduce. Allows us to modify every value in a column.

Could use a separate function or a lambda expression.

In [9]:
# Removes the " for sale" if it exists
def remove_for_sale(word):
    index = word.find(" for sale")
    if index != -1:
        return word[:index]
    return word

df['PRICE'].map(lambda price: price + 1)

df['TYPE'] = df['TYPE'].map(remove_for_sale)
df['TYPE'].unique()

array(['Condo', 'House', 'Townhouse', 'Co-op', 'Multi-family home',
       'Mobile house'], dtype=object)

## 7. Groupby

In [10]:
df.groupby("TYPE")[["PRICE_PER_SQFT"]].mean()

# We can groupby multiple colunms
df.groupby(["SUBLOCALITY", "TYPE"])[["PRICE_PER_SQFT"]].mean()

                                    PRICE_PER_SQFT
SUBLOCALITY      TYPE
Bronx County     Co-op                  252.760899
                 Condo                  347.699596
                 House                  469.190193
                 Multi-family home      413.175923
                 Townhouse              353.147667
Brooklyn         Co-op                  425.241011
                 Condo                  925.500635
                 House                  457.124777
                 Multi-family home      420.856863
                 Townhouse              756.619603
Brooklyn Heights Co-op                  958.588957
Coney Island     Condo                  623.147457
Dumbo            Condo                 2322.386864
East Bronx       Co-op                  353.333333
Flushing         Co-op                  324.197829
                 Condo                  320.024487
Fort Hamilton    Co-op                  767.948718
Jackson Heights  Co-op                  450.964406
Kings County     Co-op                  396.109783
                 Condo                  901.488177
                 House                  648.225969
                 Multi-family home      601.125555
                 Townhouse             1135.402153
Manhattan        Co-op                 1020.928448
                 Condo                 2259.352005
New York         Co-op                  978.616234
                 Condo                 1697.109902
                 House                 1045.745989
                 Multi-family home      836.464603
                 Townhouse             2065.193279
New York County  Co-op                 1802.774736
                 Condo                 2475.024192
                 House                 2372.669831
                 Multi-family home     2528.791004
                 Townhouse             2405.067712
Queens           Co-op                  251.295210
                 Condo                  627.871128
                 House                  642.142857
                 Multi-family home      360.000000
Queens County    Co-op                  221.867146
                 Condo                  649.315615
                 House                  547.896172
                 Mobile house           589.687466
                 Multi-family home      571.016841
                 Townhouse              782.547019
Rego Park        Co-op                  344.000000
Richmond County  Condo                  397.757483
                 House                 1325.459204
                 Multi-family home      412.051519
                 Townhouse              376.521638
Riverdale        Co-op                  250.813783
Snyder Avenue    Condo                  619.047619
Staten Island    Co-op                  328.413079
                 Condo                  404.722002
                 Multi-family home      353.710328
                 Townhouse              327.966011
The Bronx        Co-op                  258.013786
                 Condo                  408.554708
                 House                  428.356481
                 Townhouse              272.222222

## 8. Homework

## 1. Goal

In [11]:
df1 = pd.read_csv("data/NY-House-Dataset.csv")
df1['BROKERTITLE'].value_counts()

def remove_brokered_by(word):
    index = word.find("Brokered by")
    if index != -1:
        return word[12:]
    return word


df1['BROKERTITLE'] = df1['BROKERTITLE'].map(remove_brokered_by)

df1['BROKERTITLE'].value_counts()

BROKERTITLE
COMPASS                              456
Douglas Elliman - 575 Madison Ave    110
Brown Harris Stevens                  93
Corcoran East Side                    91
RE MAX Edge                           79
                                    ...
Gerard R Desgranges                    1
Property Professional Realty           1
Mark Murphy Properties                 1
S Sharf Realty Inc                     1
New York Way Real Estate Corp          1
Name: count, Length: 1036, dtype: int64

## Goal 2

In [12]:
df1 = df1.query("LOCALITY.str.contains('County')")

df1 = df1[['LOCALITY', 'PROPERTYSQFT']]

df1.groupby("LOCALITY")[["PROPERTYSQFT"]].max()

                 PROPERTYSQFT
LOCALITY
Bronx County           4000.0
Kings County          18936.0
New York County        8360.0
Queens County          5000.0
Richmond County        5400.0

## Goal 3

In [13]:
df = pd.read_csv("data/NY-House-Dataset.csv")
df = df[['BEDS', 'BATH', 'SUBLOCALITY']]
df['BEDS_TO_BATH'] = df['BEDS'] / df['BATH']

df.head()


df = df.groupby("SUBLOCALITY")[["BEDS_TO_BATH"]].mean()
df.sort_values('BEDS_TO_BATH', ascending=False)

                  BEDS_TO_BATH
SUBLOCALITY
New York                   inf
New York County            inf
Brooklyn Heights      3.000000
Snyder Avenue         3.000000
Rego Park             3.000000
Bronx County          1.794739
Kings County          1.666987
Queens County         1.644182
Staten Island         1.566617
Richmond County       1.517340
Jackson Heights       1.500000
Queens                1.484284
Brooklyn              1.459089
The Bronx             1.448444
Flushing              1.250000
Riverdale             1.250000
Coney Island          1.166667
Manhattan             1.007937
Fort Hamilton         1.000000
East Bronx            1.000000
Dumbo                 0.750000